.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit-Button.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  align-self: center;
  margin-top: 6px;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
