.popup__container {
  background-color: white;
  width: 430px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    margin: 0 19px;
  }
}
