.profile {
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 0 19px;
  }
}
