.element__heart-button {
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  align-self: flex-end;

}

.element__heart-button:hover {
  opacity: 0.5;
}
