.popup__close-button {
  background: url(../../../images/Close-Icon.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: 0.5;
}
