@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
    width: 100%;
    font-family: "Inter", Arial, sans-serif;
    color: white;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

}

.header {
  max-width: 880px;
  padding: 45px 0 41px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;                               /*по идеи и без этого будет работать*/
  border-bottom: 1px solid #545454;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    padding: 28px 0 31.6px;
  }
}

.header__logo {
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 103.74px;;
    max-height: 24.4px;
    padding-left: 27px;
  }
}


.content {

}

.profile {
  padding-top: 40px;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 0 19px;
  }
}


.profile__card {
  display: flex;
}

@media screen and (max-width: 650px) {
  .profile__card {
    flex-direction: column;
  }
}


.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 650px) {
  .profile__avatar {
   align-self: center;
  }
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  max-width: 336px;
  margin-left: 40px;
  align-self: center;
}

@media screen and (max-width: 650px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    gap: 14px 10px;
    margin: 26px 0 0;
    max-width: 282px;                       /*мб тут поменять*/
  }
}


.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 294px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;                                /*почитать про эти свойства*/
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    max-width: 189px;
  }
}


.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../images/Edit-Button.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  align-self: center;
  margin-top: 6px;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__description {
    max-width: 282px;
  }
}


.profile__add-button {
  width: 150px;
  height: 50px;
  background: url(../images/Add-Button.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  align-self: center;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    background: url(../images/Add-Button-mobile.svg);
    margin-top: 36px;
    padding: 0;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}


.elements {
  max-width: 880px;
  padding-top: 50px;
  margin: 0 auto;
}

.element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px 17px;
}

@media screen and (max-width: 900px) {
  .element {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 19px;
    row-gap: 20px;
  }
}


.element__item {
  width: 282px;
  background-color: white;
  border-radius: 10px;
}

.element__image {
  width: 282px;
  height: 282px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  display: block;
}

.element__bottom {
  display: flex;
  justify-content: space-between;
  width: 246px;
  height: 28px;
  margin: 25px 15px 0px 21px;
  padding-bottom: 31px;
}

.element__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__heart-button {
  width: 22px;
  height: 19px;
  background: url(../images/heart.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  align-self: flex-end;

}

.element__heart-button:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    margin: 0 19px;
    justify-content: flex-start;
  }
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}


.popup {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__opened {
  display: flex;
}

.popup__container {
  background-color: white;
  width: 430px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    margin: 0 19px;
  }
}


.popup__close-button {
  background: url(../images/Close-Icon.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: 0.5;
}



.popup__title {
  color: #000000;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 36px 0;
}

@media screen and (max-width: 550px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 0;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
  margin: 54px 36px 37px;
}

@media screen and (max-width: 550px) {
  .popup__form {
    margin: 75px 22px 25px;
  }
}

.popup__imput {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px;
  padding: 0 0 13px;
}

.popup__imput:last-of-type {
  margin: 0;
}

.popup__save-button {
  background-color: #000000;
  color: white;
  width: 358px;
  height: 50px;
  padding: 0;
  margin: 48px 0 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.5s ease;
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__save-button:hover {
  opacity: 0.6;
}
